@model SiteReports.Models.SiteVisit

<div>
    <h4>SiteVisit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalSiteVisitsThisWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalSiteVisitsThisWeek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalSiteManagerVisitsThisWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalSiteManagerVisitsThisWeek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Site.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
