@model IEnumerable<SiteReports.Models.Site>

@{
    ViewData["Title"] = "Index";
}

<h2>Sites</h2>

<p>
    <a asp-action="Create">Create New Site</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.CreatedDate)
		</td>
		<td>
			<a asp-controller="Reports" asp-action="New" asp-route-siteId="@item.Id">Create report</a> |
			<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
			<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
			<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
		</td>
	</tr>

	@foreach (var report in item.Reports)
	{
		<tr>
			<td></td>
			<td>
				<a asp-action="Details" asp-controller="Reports" asp-route-id="@report.Id">View Report @report.ReportDate</a>
			</td>
			<td></td>
			
		</tr>	
	}
}
    </tbody>
</table>
