@model SiteReports.Models.Project

@Html.HiddenFor(x => x.Id)

<div class="project">
	<div class="form-horizontal">
		<h4>Project</h4>
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="Id" />
		<div class="form-group">
			<label asp-for="Description" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="StartDate" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="StartDate" class="form-control" />
				<span asp-validation-for="StartDate" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="CompletedDate" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="CompletedDate" class="form-control" />
				<span asp-validation-for="CompletedDate" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="PercentComplete" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="PercentComplete" class="form-control" />
				<span asp-validation-for="PercentComplete" class="text-danger"></span>
			</div>
		</div>
	</div>
</div>
