@model SiteReports.Models.Renewal

@Html.HiddenFor(x => x.Id)

<div class="renewal">
	<div class="form-horizontal">
		<h4>Renewal</h4>
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="Id" />
		<div class="form-group">
			<label asp-for="Description" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Quantity" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Quantity" class="form-control" />
				<span asp-validation-for="Quantity" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="DueDate" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="DueDate" class="form-control" />
				<span asp-validation-for="DueDate" class="text-danger"></span>
			</div>
		</div>
	</div>
</div>

