@model SiteReports.Models.Report

@Html.HiddenFor(x => x.Id)

<div class="form-horizontal">
	<h4>Report</h4>
	<div>
		<a asp-action="Index">Back to List</a>
	</div>
	<hr />
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group">
		<label asp-for="Site" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Site.Name" class="form-control" disabled="disabled"/>
			<span asp-validation-for="Site.Name" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="ReportType" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<select asp-for="ReportType" asp-items="Html.GetEnumSelectList<SiteReports.Models.ReportType>()" class="form-control">
				<option selected="selected" value=""></option>
			</select>
			<span asp-validation-for="ReportType" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="ReportDate" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="ReportDate" class="form-control" />
			<span asp-validation-for="ReportDate" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="MonthlyMeetingSharePointUrl" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="MonthlyMeetingSharePointUrl" class="form-control" />
			<span asp-validation-for="MonthlyMeetingSharePointUrl" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="ProactivePreventativeMaintenanceSharePointUrl" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="ProactivePreventativeMaintenanceSharePointUrl" class="form-control" />
			<span asp-validation-for="ProactivePreventativeMaintenanceSharePointUrl" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="SiteManager" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="SiteManager" class="form-control" />
			<span asp-validation-for="SiteManager" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="AsAtDate" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="AsAtDate" class="form-control" />
			<span asp-validation-for="AsAtDate" class="text-danger"></span>
		</div>
	</div>
	
</div>
<hr/>
<div id="statementsOfWork">
	@Html.EditorFor(x => x.StatementsOfWork)
</div>
<hr />
<div id="projects">
	@Html.EditorFor(x => x.Projects)
</div>
<hr />
<div id="risks">
	@Html.EditorFor(x => x.Risks)
</div>
<hr />
<div id="renewals">
	@Html.EditorFor(x => x.Renewals)
</div>