@model SiteReports.Models.Risk

@Html.HiddenFor(x => x.Id)

<div class="risk">

	<div class="form-horizontal">
		<h4>Risk</h4>
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="Id" />
		<div class="form-group">
			<label asp-for="Description" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
		</div>
		
		<div class="form-group">
			<label asp-for="Severity" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<select asp-for="Severity" asp-items="Html.GetEnumSelectList<SiteReports.Models.RiskSeverity>()" class="form-control">
				</select>
				<span asp-validation-for="Severity" class="text-danger"></span>
			</div>
		</div>
	</div>
</div>

