@model SiteReports.Models.StatementOfWork

@Html.HiddenFor(x => x.Id)

<div class="statementOfWork">
	<div class="form-horizontal">
		<h4>Statement Of Work</h4> 
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="Id" />
		<div class="form-group">
			<label asp-for="StatementOfWorkId" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="StatementOfWorkId" class="form-control" />
				<span asp-validation-for="StatementOfWorkId" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Description" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<div class="checkbox">
					<input asp-for="ClientSigned" />
					<label asp-for="ClientSigned"></label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<div class="checkbox">
					<input asp-for="ClientRejected" />
					<label asp-for="ClientRejected"></label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Value" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="Value" class="form-control" />
				<span asp-validation-for="Value" class="text-danger"></span>
			</div>
		</div>
		@*@Html.HiddenFor<>(x => x.DeleteReport, new { @class = "mark-for-delete" })*@
	</div>
</div>