@using Microsoft.CodeAnalysis.CSharp.Syntax
@model SiteReports.Models.Report

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
	<h4>Report</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ReportType)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ReportType)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ReportDate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ReportDate)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.MonthlyMeetingSharePointUrl)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.MonthlyMeetingSharePointUrl)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ProactivePreventativeMaintenanceSharePointUrl)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ProactivePreventativeMaintenanceSharePointUrl)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.SiteManager)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.SiteManager)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.AsAtDate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.AsAtDate)
		</dd>
	</dl>
</div>

@*<div id="statementsOfWork">
	
	@if (Model.StatementsOfWork != null)
	{
		foreach (var statementOfWork in Model.StatementsOfWork)
		 {
			<div>
				@Html.DisplayForModel(statementOfWork)
				<hr />
				<dl class="dl-horizontal">
					<dt>
						<span>Statement Of Work ID:</span>
					</dt>
					<dd>
						
					</dd>

				</dl>
			</div>
		 }
	}

	


</div>*@



<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    @*<a asp-action="Index">Back to Sites</a>*@
</div>
