@model IEnumerable<SiteReports.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReportType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReportDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MonthlyMeetingSharePointUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProactivePreventativeMaintenanceSharePointUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SiteManager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AsAtDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyMeetingSharePointUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProactivePreventativeMaintenanceSharePointUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AsAtDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
