@model SiteReports.Models.Report

@{
    ViewData["Title"] = "New";
}

<h2>Add New Report</h2>

@using (Html.BeginForm()){
	@Html.AntiForgeryToken()

	@Html.EditorForModel()
	

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Create Report" class="btn btn-default" />
		</div>
	</div>
	@*<p>
		<button type="submit">Create Report</button>
	</p>*@
}

@*<form asp-action="New">
    <div class="form-horizontal">
        <h4>Report</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ReportType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ReportType" class="form-control"></select>
                <span asp-validation-for="ReportType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReportDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ReportDate" class="form-control" />
                <span asp-validation-for="ReportDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MonthlyMeetingSharePointUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MonthlyMeetingSharePointUrl" class="form-control" />
                <span asp-validation-for="MonthlyMeetingSharePointUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProactivePreventativeMaintenanceSharePointUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProactivePreventativeMaintenanceSharePointUrl" class="form-control" />
                <span asp-validation-for="ProactivePreventativeMaintenanceSharePointUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SiteManager" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SiteManager" class="form-control" />
                <span asp-validation-for="SiteManager" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SiteId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SiteId" class ="form-control" asp-items="ViewBag.SiteId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AsAtDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AsAtDate" class="form-control" />
                <span asp-validation-for="AsAtDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>*@


